language: rust
os: linux
dist: xenial

cache:
  - cargo

rust:
  - stable

before_script:
  # - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/mdbook || cargo install --bins mdbook --git https://github.com/Ruin0x11/mdBook.git --rev d06249b475265856e3654d3e917e4a777805a295)
  # - cargo install-update -a

script:
  - mdbook build # && mdbook test
  
deploy:
  provider: pages
  strategy: git
  edge: true
  cleanup: false
  github-token: $GITHUB_TOKEN
  local-dir: ./book
  keep-history: false
  on:
    branch: master
  target_branch: gh-pages
