// import icon
@import '//at.alicdn.com/t/font_2410206_s4d1bpvxrvg.css'

.navbar .logo {
  border-radius: 0 !important;
}

.page > section {
  transition: all 0s !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
}